body {
  background-color: coral;
  color: #000000;
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  width: 64px;
}
#title {
  padding-left: 10px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  font-size: 24px;
}
#logo {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}


#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  float: left;
}


.navbar a,
.navbar a:focus {
  display: flex;
  align-items: relative;
  justify-content: space-between;
  color: #070707;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  
}


#linkedinPic {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  margin: 0;
  padding-right: 20px;
  position: absolute; 
  right: 0;
  
}